* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row; /* try switching it to column, column-reverse, or row-reverse!*/
    width: 100vw;
    height: 100vh;
}

.shade {
    width: 100%;
    height: 100%;
}

#color-1 {
    background-color: hsl(28, 65%, 50%);
}

#color-2 {
    background-color: hsl(28, 65%, 40%);
}

#color-3 {
    background-color: hsl(28, 65%, 30%);
}

#color-4 {
    background-color: hsl(28, 65%, 20%);
}

#color-5 {
    background-color: hsl(28, 65%, 10%);
}